<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ wp_head }}
</head>
<body class="{{ body_class }}">
    {% block content %}

    {% endblock %}
    <div>{% include 'views/layouts/sidebar.twig' %}</div>
{{ wp_footer }}
</body>
</html>