<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="shortcut icon" href="favicon/favicon.ico" />
  <link rel="stylesheet" href="css/style.bundle.css" />
  <title><%=title%></title>
</head>

<body>
  <div class="wrapper">
    <div class="content">
      <header>
          <h1>logo</h1>
          <ul>
            <li><a href="/index.html">home</a></li>
            <li><a href="/second.html">second</a></li>
            <li><a href="/contacts.html">contacts</a></li>
          </ul>
      </header>